OPENROUTER_API_KEY=sk-or-v1-XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://eu.api.smith.langchain.com
LANGSMITH_API_KEY=lsv2_ptXXXXXXXXXXXXXXXXXXXXXXXX
LANGSMITH_PROJECT="agentic-rag"
TAVILY_API_KEY=tvly-dev-XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX